html,body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
background-image: url("../img/bg-mb.png");

color: white;
}

.header {
text-align: center;	
margin-top: 5%;
}

.header h1 {
font-size: 75px;
}

.header p {
font-size: 25px;
}

.weapons-list {
width: 40%;
margin-left: 30%;
text-align: center;
background-color: rgb(36, 66, 110, 0.5)

}

.weapon-types {
	width: 40%;
	margin-left: 30%;
}

.button {
    width: 100%;
    height: 30px;
    background-color: #24426e;
    border: none;
}

.margin-bot {
    margin-bottom: 20px;
}

.redirectButton {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
}

.redirectButton:hover {
    background-color: #1c345c;
    color: white;
}

@media screen and (max-width: 480px) {
    body {
        color: black;
    }
}